@media (max-width: 1150px) {
  #navbar-title-button {
    display:none;
  }
}

#navbar-div {
  height: 55px;
  text-align: center;

  background-color: #6441a4;
}

#navbar-menu-button {
  position: absolute;
  left: 0;
  margin: 13px;
  padding: 4px 4px 7px;

  border-radius: 2px;
  background-color: #6441a4;
}

#navbar-menu-button:hover {
  background-color: #7651ba;
}

#navbar-menu-button:active {
  border: 1px solid #9977d8;
}

#navbar-menu-icon {
  color: #fff
}

#navbar-title-button {
  position: absolute;
  top: 13px;
  left: 60px;
  margin: 0;
  padding: 0;
  height: 30px;

  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

#navbar-title-header {
  line-height: 30px;
  font-family: 'Bungee';
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: #4b317c;
  text-shadow:
   -1px -1px 0.05em #fff,
    1px -1px 0.05em #fff,
    -1px 1px 0.05em #fff,
     1px 1px 0.05em #fff;
}
