body {
  margin: auto;
  background-color: rgb(240, 240, 240);
}

#navbar-title {

  font-family: 'Bungee';
  font-size: 2em;
  letter-spacing: 0.1em;
  text-shadow:
    -1px -1px 0.3vw rgb(75, 56, 122),
    1px -1px 0.3vw rgb(75, 56, 122),
    -1px 1px 0.3vw rgb(75, 56, 122),
    1px 1px 0.3vw rgb(75, 56, 122);
  color: rgb(250, 250, 250);
  
}

#search {
  margin-top: 2vw;
  text-align: center;
}

#search-box {
  width: 15em;
  height: 2em;
  border-radius: 0.5em;
  border: 0.2em solid rgb(110, 67, 167);
  font-size: 2em;
  padding: 1em 3em;
  box-sizing: border-box;
  color: rgb(125, 106, 172);
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  position: relative;
  left: 0.8em;
}

#search-box::placeholder {
  color: rgb(125, 106, 172);
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

#search-box:focus {
  outline: none;
  box-shadow:
    -2px -2px 0.5vw rgb(175, 156, 222),
    2px -2px 0.5vw rgb(175, 156, 222),
    -2px 2px 0.5vw rgb(175, 156, 222),
    2px 2px 0.5vw rgb(175, 156, 222);
}

#search-icon {
  position: relative;
  width: 2.5em;
  right: 26.5em;
  top: 0.9em;
}

#channel-img {
  display: block;
  margin: 2vw auto 0;
  border: 0.3em solid rgb(110, 67, 167);
  border-radius: 1em;
  width: 10em;
  box-shadow:
    -2px -2px 0.5vw rgb(175, 156, 222),
    2px -2px 0.5vw rgb(175, 156, 222),
    -2px 2px 0.5vw rgb(175, 156, 222),
    2px 2px 0.5vw rgb(175, 156, 222);
}

#channel-name {
  text-align: center;
  font-family: 'Bungee';
  font-size: 4em;
  letter-spacing: 0.1em;
  color: rgb(110, 67, 167);
  margin: 0.5vw;
  text-shadow:
    -1px -1px 0.1vw rgb(25, 6, 72),
    1px -1px 0.1vw rgb(25, 6, 72),
    -1px 1px 0.1vw rgb(25, 6, 72),
    1px 1px 0.1vw rgb(25, 6, 72);
}

#channel-div {
  text-align: center;
}

#monitor {
  font-size: 2em;
  color: white;
  font-style: 'Rubik';
  border-radius: 0.2em;
  background-color: rgb(110, 67, 167);
  border-style: 1vw solid gray;
  padding: 0.1vw 1vw;
}
