#sidebar-div {
  height: calc(100vh - 55px);
  margin-top: 15px;
  width: 250px;

  background-color: rgb(120, 120, 120);
}

#sidebar-title {
  margin: 0;
  padding: 10px;

  font-family: 'Rubik';
  font-weight: 600;
}

#sidebar-channels-div {

}

.sidebar-channel-button {
  position: relative;
  width: 240px;
  height: 40px;
  padding: 0;

  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.sidebar-channel-button:hover {
  background-color: rgb(150, 150, 150)
}

.sidebar-channel-img {
  position: absolute;
  left: 5px;
  bottom: 5px;
  display: inline-block;
  width: 30px;
  border-radius: 2px;
}

.sidebar-channel-name {
  position: absolute;
  left: 40px;
  bottom: 10px;
  display: inline-block;

  font-family: 'Rubik';
  font-weight: 600;
  color: white;
  text-shadow:
   -1px -1px 0.05em rgb(90, 47, 147),
    1px -1px 0.05em rgb(90, 47, 147),
    -1px 1px 0.05em rgb(90, 47, 147),
     1px 1px 0.05em rgb(90, 47, 147);
}
